/* GENERAL STYLES (Not specific to any component) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ebecf0;
  font-family: Arial, Helvetica, Tahoma, Verdana, Calibri;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  padding: 2%;
  background-color: #ebecf0;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none !important;
}

h1 {
  font-size: 50px;
  margin-bottom: 16px;
}

svg,
path {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}

.input:not([type="range"]) {
  background-color: #1042ef;
  outline: 1px solid #ebecf0;
  margin-bottom: 16px;
  padding: 8px;
  border: none;
}

.input:focus:not([type="range"]) {
  outline: 2px solid #ebecf0;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}

.btn {
  margin-bottom: 24px;
  font-size: 20px;
  color: #ebecf0;
  padding: 8px;
  background-color: #001e89;
  outline: none;
  border: 2px solid #000;
  border-radius: 8px;
}

.btn--cta {
  box-shadow: 1px 1px 10px #000;
}

.input {
  font-size: 20px;
}

.input::placeholder {
  color: #3b3b3b;
  opacity: 0.53;
}

.feedback {
  font-size: 16px;
}

/* PREBOARDING */

#preboarding-section {
  display: flex;
  flex-direction: column;
  background-color: #1042ef;
  padding: 16px;
  position: relative;
  box-shadow: 0 0 40px #000;
  border-radius: 8px;
  width: 60%;
}

.input--preboarding {
  border-radius: 8px;
  padding: 8px;
}

#preboarding-problem-container {
  height: 20px;
}

#preboarding-start-btn-container {
  width: 100%;
  height: 96px;
}

#preboarding-start-btn {
  margin-top: 16px;
  position: absolute;
}

/* PREBOARDING-VOLUME */

#preboarding-volume-container {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
}

#preboarding-volume-sub-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#preboarding-volume-input {
  margin-bottom: 0;
}

.preboarding-container {
  min-width: 16ch;
}

/* MATH PROBLEM */

.math-problem {
  font-size: 16px;
}
/* SESSION  */

#session-main-container {
  display: flex;
  justify-content: center;
  width: 35%;
}

#session-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1042ef;
  border-radius: 16px;
  width: 94%;
  padding-top: 24px;
  padding-left: 24px;
  color: #000;
}

#session-main-container.not-in-session {
  width: 0%;
  height: 0%;
}

#session-first-operand,
#session-operator,
#session-second-operand {
  color: #000;
}

#session-problem-card-bottom-divider {
  background-color: #000;
  border: none;
  margin-top: -20px;
  height: 3px;
}

#session-pause-btn {
  align-self: flex-start;
}

#session-problem-container {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  margin-bottom: 36px;
}

#session-problem {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100%;
  padding: 16px;
  width: 100%;
  max-height: 114px;
  font-size: 20px;
  background-color: #ebecf0;
  color: #000;
  box-shadow: 0 0 20px #000;
}

#session-first-operand {
  grid-row: 1;
  max-width: 100%;
}

#session-second-operand {
  grid-row: 2;
}

#session-answer-input {
  width: 16ch;
  padding: 8px;
}

#session-first-operand,
#session-second-operand {
  /* Moves operands to right edge of flash card upto it's padding */
  margin-left: auto;
}

#session-operator {
  display: flex;
  align-items: flex-end;
  grid-row: 3;
  margin-bottom: 8px;
}

#problem-answer-form {
  margin-top: 24px;
}

#session-answer-form {
  display: inline-block;
}

.btn--session {
  display: flex;
  margin-top: 8px;
}

#session-form-answer {
  display: block;
}

#session-accuracy-container {
  max-width: 150px;
}

#session-answer-feedback {
  height: 20px;
  margin-bottom: 16px;
}

#session-countdown {
  display: inline;
  color: #f00;
  background-color: #ebecf0;
  max-width: 150px;
  margin-left: 2px;
}

.input--session {
  width: 80px;
  margin-bottom: 8px;
  border-radius: 16px;
}

.label--session {
  margin-bottom: 4px;
}

/* SESSION ACCURACY */

.session-accuracy-container {
  width: 100%;
  background-color: #ebecf0;
  margin-bottom: 40px;
}

.session-accuracy {
  display: flex;
  justify-content: center;
  padding: 8px;
}

#session-correct-answers {
  margin-right: 8px;
  color: #19bb2e;
}

.session-total-answers {
  margin-left: 8px;
}

.session-total-answers,
.session-accuracy {
  color: #000;
}

.session-correct-answers,
.session-total-answers {
  display: flex;
}

#session-countdown {
  background-color: #ebecf0;
}

/* PAUSE MENU */

#pause-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  position: fixed;
  inset: 0;
  background-color: #dadbd9;
  color: #000;
  opacity: 0.98;
}

#pause-menu-volume-container {
  display: flex;
  margin-bottom: 32px;
}

#pause-menu-volume-container > .label {
  margin-right: 16px;
}

#pause-menu-info-message {
  margin-bottom: 24px;
}

#pause-menu-info-message,
.label--volume-input,
#pause-menu-volume-value,
#pause-menu-countdown {
  color: #000;
}

.icon--pause-menu {
  stroke: #000;
}

/* GENERAL VOLUME STYLES */

#preboarding-volume-input {
  margin: 0 8px;
}

.volume-value {
  display: inline;
  min-width: 6ch;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.label--volume {
  display: inline-block;
  margin: 0 4px;
  justify-content: flex-start;
}

#max-volume-icon {
  margin-right: 16px;
}

.volume-container {
  display: flex;
  align-items: center;
}

.input--volume {
  accent-color: #ebecf0;
}

/* RESULTS */

#results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1042ef;
  box-shadow: 0 0 24px #000;
  padding: 8px;
  max-height: 40%;
  border-radius: 24px;
}

#results-container > p {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 24px;
}

/* RESPONSIVE DESIGN */

@media screen and (width <= 982px) {
  #preboarding-section {
    width: 100%;
  }
}

@media screen and (width <= 588px) {
  #preboarding-start-btn {
    align-items: flex-start;
  }

  #preboarding-volume-container {
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (width <= 378px) {
  h1 {
    font-size: 45px;
  }

  .label {
    font-size: 16px;
  }

  .input,
  .btn {
    font-size: 18px;
  }

  .feedback {
    font-size: 16px;
  }

  .feedback {
    font-size: 14px;
  }

  #preboarding-volume-input {
    width: 60px;
  }
}
