body,
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#session-countdown {
  color: red;
}
.hidden {
  display: none;
}
h1 {
  color: #333;
  font-size: 50px;
}
#pause-menu {
  opacity: 0.98;
  background-color: #fff;
  z-index: 9999;
  position: fixed;
  inset: 0;
}
svg,
path {
  width: 24px;
  height: 24px;
}
fieldset {
  border: none;
}
.set-volume-container {
  display: flex;
}
.volume-value {
  display: inline;
}
