body,
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#session-countdown {
  color: red;
}
.hidden {
  display: none;
}
h1 {
  color: #333;
  font-size: 50px;
}
#pause-menu {
  opacity: 0.98;
  background-color: #fff;
  z-index: 9999;
  position: fixed;
  inset: 0;
}
svg,
path {
  width: 24px;
  height: 24px;
}
fieldset {
  border: none;
}
.set-volume-container {
  display: flex;
}
.volume-value {
  display: inline;
}

#math-problem-container {
  max-width: 44px;
}
#math-problem {
  display: grid;
  box-shadow: 0 0 20px #000;
  font-size: 20px;
}
#first-operand,
#second-operand {
  grid-column: 2;
  margin-left: auto;
  margin-right: 3px;
  margin-top: 3px;
}
#second-operand,
#operator {
  margin-top: 4px;
  margin-bottom: 6px;
}
#operator {
  display: flex;
  align-items: flex-end;
}
hr {
  margin-top: -5px;
}
#problem-answer-form {
  margin-top: 24px;
}
#problem-answer-form {
  display: inline-block;
}
#session-btns {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}
